html {
    /*Solution for pushing footer to the bottom of the page*/
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 5rem;
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

@media (min-width: 992px) {
    .container{
        max-width: 768px;
    }
}


/********** FOOTER **********/

footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    color: #999;
    padding-top: 40px;
}

footer p {
    text-align: center;
}


/********** SEARCH RESULTS **********/

#searchResults {
    padding-left: 10px;

}

#searchResults .title {
    font-size: 1.4rem;
}

#searchResults .author {
    font-size: 1.1em;
    color: #666;
}

#searchResults .tags {
    color: #666;
}

#searchResults li {
    list-style: none;
    margin-bottom: 20px;
}

input#book-search {
    margin-bottom: 30px;
}

/********** FORMS PAGE **********/

form#forms-page .form-row {
    margin-bottom: 10px;
}